.gallery-sect1{
    height: 100vh;
    background:url(../../../../public/media/gallery1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.gallery-title{text-align: center;
    background-color: var(--bg-color);
    padding: 1em;
}
.gallery-sect2{
    height: auto;
    padding: 0 2em 2em;
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
    gap: 3em;
}