@import url(../../../App.css);

nav {
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color:var(--bg-color);
}

nav>p {
    font-size: 2.5em;
}

nav>ul {
    list-style-type: none;
}

nav>ul>li {
    display: inline-block;
    margin-right: 1.5em;
    font-size: 1.3em;
    font-weight: bold;
}

ul>li:hover {
    color: var(--navbar-hover-color);
    cursor: pointer;
    text-decoration: underline;
}