.hero {
  height: 100vh;
  background: linear-gradient(
    rgba(66, 59, 51, 0.123),
    rgba(174, 159, 142, 0.13)
  ), url(../../../../public/media/hero.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.hero > h3{
  font-size: 1.5em;
    font-family: var(--title-font);
}
.hero>p{
    width: 45em;
    text-align: center;
    line-height: 25px;
    font-family: var(--paragraph-font);
    margin: 2em 0;

}

.hero > button{
  padding:0.5em 1em;
  border-radius: 15px;
  border-style: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.329);
  font-size: 1.2em;
  font-family: var(--list-item-font);
}

.hero > button:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.475);
}
