/* import font for titles */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* import font for paragraphs */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
/* import font for list items */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* disable defaults */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    font-family: var(--list-item-font);
    color: var(--navbar-item-color);
}
p{
    font-family: var(--paragraph-font);
    color: var(--navbar-item-color);
}

h1,h2,h3,h4{
    font-family: var(--title-font);
    color: var(--title-color);
}
/* variable definitions */
:root{
    --navbar-item-color : rgb(47, 45, 116);
    --title-color :rgb(31, 29, 78);
    --navbar-hover-color : rgba(170, 92, 64, 0.817);
    --list-item-font :'Indie Flower', cursive;
    --paragraph-font :'Dosis', sans-serif;
    --title-font :'Quicksand', sans-serif;

}